body{
    background: url("https://thumbs.dreamstime.com/b/hand-writing-todo-list-blackboard-79948077.jpg0");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.todo-item{
    width: 90%;
}

.todo-list-box{
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.75);
    position: absolute;
    background-color: rgb(248, 248, 248);
    width: 50%;
    height: 75%;
    margin-left: 25%;
    margin-top: 5%;
    overflow: scroll;
    overflow-x: hidden;
}

.todo-list-box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.dropdown{
    margin-right: 150px;
}

.btn{
    width: 100%;
    color: grey;
    background-color: white;
    border-color: lightgray;
}

.inbl{
    margin-left: 25px;
    margin-top: -40px;
    margin-bottom: 35px;
    display: inline-block;
}

p{
    color: gray;
}

.inil{
    display: inline-block;
}

.delete-box{
    width: 5%;
}